@font-face {
    font-family: "FredokaOne";
    src: url(../Fonts/FredokaOne-Regular.ttf);
}
@font-face {
    font-family: "Yellowtail";
    src: url(../Fonts/Yellowtail-Regular.ttf);
}

body {
    background-color: black;
    color: white;
}
.instagram {
    background-image: linear-gradient(to right, rgba(255, 59, 30, 0.231372549), rgb(182 4 235 / 21%));
    a::after {
        background: url(../images/Instagram_Glyph_Gradient.png) center no-repeat;
    }
}
.telegram {
    background-image: linear-gradient(to right, rgb(255 255 255 / 13%), rgb(38 162 219 / 13%));
    a::after {
        background: url(../images/Telegram_logo.png) center no-repeat;
    }
}
.spotify {
    background-image: linear-gradient(to right, rgb(42 57 64 / 51%), rgb(45 189 89 / 16%));
    a::after {
        background: url(../images/spotify-logo.png) center no-repeat;
    }
}
.Linkedin {
    background-image: linear-gradient(to right, rgb(255 255 255 / 13%), rgb(38 162 219 / 13%));
    a::after {
        background: url(../images/linkedin-logo.png) center no-repeat;
    }
}
.nashenas a::after {
    background: url(../images/nashenas.jpg) center no-repeat;
    border-radius: 100%;
}

.social-links {
    width: 40rem;
    margin: auto auto;
    border-radius: 0.7rem;
    h1 {
        font-family: FredokaOne;
    }
    .items {
        border-radius: 0.7rem;
        display: flex;
        align-items: center;
        // background-color: rgb(40, 40, 40);
        padding: 1rem;
        margin-top: 1rem;
        a {
            display: flex;
            color: white;
            width: 100%;
            align-items: center;
            position: relative;
            text-decoration: none;
            &::after {
                content: " ";
                position: absolute;
                width: 50px;
                height: 50px;
                display: inline-block;
                right: 2.5rem;
                bottom: 50%;
                transform: translate(50%, 50%);
                background-size: contain;
            }
        }
        .info {
            margin: 0 2rem;
            display: flex;
            flex-direction: column;
            p {
                font-size: 1.4rem;
                margin: 0;
                margin-bottom: 1rem;
            }
            span {
                margin-right: 1rem;
            }
        }
        img {
            width: 8rem;
            height: 8rem;
            object-fit: cover;
            border-radius: 100%;
        }
    }
    h1 {
        text-align: center;
    }
}
footer {
    .by {
        color: #fff;
        text-align: center;
        display: block;
        margin: 20px;
    }
}
@media (max-width: 768px) {
    .wave {
        height: 5rem !important;
    }
    .social-links {
        width: 90%;
        .items {
            padding: 1rem 5px;
            a {
                &::after {
                    width: 30px;
                    height: 30px;
                    right: 1.5rem;
                    bottom: 70%;
                }
                .info {
                    margin: 0 10px;
                    .userName {
                        font-size: 18px;
                    }
                    .followers {
                        font-size: 11px;
                    }
                }
                img {
                    width: 4rem;
                    height: 4rem;
                }
            }
        }
    }
}

body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(50, 0, 46) 3%, rgb(15, 33, 51) 38%, rgb(8, 41, 39) 68%, rgb(49, 7, 7) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgba(98, 98, 98, 0.25);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}
